<section class="footer container">
  <div class="footer-container">
    <div class="footer-menu">
      <div class="logo">
        <a href="./index.html" class="footer-logo"
          >LEONID<span class="footer-logo-collor">MOZHELIUK.</span></a
        >
      </div>
      <ul class="footer-list">
        <li>
          <a
            class="footer-link"
            href="https://www.instagram.com"
            target="_blank"
            >Instagram</a
          >
        </li>
        <li>
          <a class="footer-link" href="https://www.facebook.com" target="_blank"
            >Facebook</a
          >
        </li>
        <li>
          <a class="footer-link" href="https://es.linkedin.com" target="_blank"
            >Linkedin</a
          >
        </li>
        <li>
          <a
            class="footer-link"
            href="https://github.com/Leoyalta/My-Portfolio-"
            target="_blank"
            >GitHub</a
          >
        </li>
      </ul>
    </div>
    <p class="footer-inscription">© Copyright 2024. Made by Leonid Mozheliuk</p>
  </div>
</section>
